body{
    margin: 0;
    padding: 0;

}



.containerNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: rgb(228, 228, 228);
}

/* links */ 

.linksNavbar a{
    margin: 1rem;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-size: 1.2rem;
    font-weight: bold;
}

.linksNavbar a:hover{
    text-decoration: underline;
}

/* MAIN CONTAINER */

.mainContainer {
    position: relative; /* Necesario para el overlay */
    background-image: url(/resources/img/sydney.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    /*background-attachment: fixed;*/
}

/* Agregar un overlay oscuro */
.mainContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Ajusta la opacidad aquí (0.6 es un tono oscuro) */
    z-index: 1;
}

/* Asegurar que el contenido esté por encima del overlay */
.mainContainer * {
    position: relative;
    z-index: 2;
}

.aboutUsTitle h2{
    font-size: 8rem;
}

.aboutUsText{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutUsText p{
    font-size: 2rem;
}


.mainContainer{
    display: flex;
    flex-direction: column;
}

.containerTeam{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10rem;
    background: rgba(0, 0, 0, 0.4); /* Ajusta la opacidad aquí (0.6 es un tono oscuro) */
    padding: 2rem;
    border-radius: 2rem;
}

.containerTeam h2{
    font-size: 3rem;
}

.teamMember{
    margin: 2rem;
}

.teamMember p{
    font-size: 1.5rem;
}

.rolPosition{
    background-color: rgb(88, 88, 217);
    width: 8rem;
    height: 2rem;
    padding: 0.6rem;
    border-radius: 1rem;
}

.rolPosition:hover{
    transform: scale(1.1);
    cursor: pointer;
}